In [8]:
from astropy.io import fits as pyfits
import pandas as pd
import numpy as np

In [1]:
f = '/Users/kimzoldak/Github/grbTools/xspec/data/xspec_fitresults_grbm+bbody+lpow_-01-_L_.fit'

In [3]:
f = pyfits.open(f)

In [9]:
df = pd.DataFrame(f[2].data)

In [10]:
df

,PARAM1,PARAM2,PARAM3,PARAM4,PARAM5,PARAM6,PARAM7,PARAM8,NDATA,DOF,CSTAT,LOGLIKE,AIC,BIC,COVARMAT
0,"[-1.1347480355649138, nan, nan, nan, nan]","[-2.635717664572395, nan, nan, nan, nan]","[246.829922465641, nan, nan, nan, nan]","[0.11761749651701606, nan, nan, nan, nan]","[6.190054429862882, nan, nan, nan, nan]","[1.1294063614298953, nan, nan, nan, nan]","[-1.3425973910815174, nan, nan, nan, nan]","[1.886321554340399e-09, nan, nan, nan, nan]",480,472,670.600497,-335.300248,686.600497,719.990786,"[0.016982, -0.00152939, -4.44931, -0.000437453..."

In [5]:
f[2].columns

ColDefs(
    name = 'PARAM1'; format = '1PD(5)'
    name = 'PARAM2'; format = '1PD(5)'
    name = 'PARAM3'; format = '1PD(5)'
    name = 'PARAM4'; format = '1PD(5)'
    name = 'PARAM5'; format = '1PD(5)'
    name = 'PARAM6'; format = '1PD(5)'
    name = 'PARAM7'; format = '1PD(5)'
    name = 'PARAM8'; format = '1PD(5)'
    name = 'NDATA'; format = '1I'
    name = 'DOF'; format = '1I'
    name = 'CSTAT'; format = '1D'
    name = 'LOGLIKE'; format = '1D'
    name = 'AIC'; format = '1D'
    name = 'BIC'; format = '1D'
    name = 'COVARMAT'; format = '1PD(64)'
)

In [7]:
f[2].header

XTENSION= 'BINTABLE'           / binary table extension
BITPIX  =                    8 / array data type
NAXIS   =                    2 / number of array dimensions
NAXIS1  =                  108 / length of dimension 1
NAXIS2  =                    1 / length of dimension 2
PCOUNT  =                  832 / number of group parameters
GCOUNT  =                    1 / number of groups
TFIELDS =                   15 / number of table fields
TTYPE1  = 'PARAM1  '
TFORM1  = '1PD(5)  '
TTYPE2  = 'PARAM2  '
TFORM2  = '1PD(5)  '
TTYPE3  = 'PARAM3  '
TFORM3  = '1PD(5)  '
TTYPE4  = 'PARAM4  '
TFORM4  = '1PD(5)  '
TTYPE5  = 'PARAM5  '
TFORM5  = '1PD(5)  '
TTYPE6  = 'PARAM6  '
TFORM6  = '1PD(5)  '
TTYPE7  = 'PARAM7  '
TFORM7  = '1PD(5)  '
TTYPE8  = 'PARAM8  '
TFORM8  = '1PD(5)  '
TTYPE9  = 'NDATA   '
TFORM9  = '1I      '
TTYPE10 = 'DOF     '
TFORM10 = '1I      '
TTYPE11 = 'CSTAT   '
TFORM11 = '1D      '
TTYPE12 = 'LOGLIKE '
TFORM12 = '1D      '
TTYPE13 = 'AIC     '
TFORM13 = '1D      '
TTYPE14 = 'BIC     '
TFORM14 = '1D      '
TTYPE15 = 'COVARMAT'
TFORM15 = '1PD(64) '
EXTNAME = 'PARAMS  '
HDUCLASS= 'OGIP    '
HDUCLAS1= 'TYPE:II '
HDUVERS = '1.2.0   '

In [ ]:
paramDict = dict({'grbm':{'alpha':-1.2, 'beta': -2.8, 'enterm':502., 'norm':0.01, 'entype':'epeak'}})